@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: brown;
    font-family: 'Nunito', sans-serif;
}

.logo {
    color: rgb(241, 238, 238);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30rem;
    /* width: 30%; */
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


.icons {
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 5rem;
    justify-content: space-evenly;
    font-size: 20px;
    /* background-color: #f5e71b; */
}

.icons a {
    color: #fff;
}

.discount {
    position: relative;
    height: 80px;
    width: 80px;
    left: -45%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* display: none; */
}

.discount-btn {
    position: absolute;
    font-size: 10px;
    top: 20%;
    width: 37px;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 100px;
    transform: rotate(-30deg);
    background-color: #f5e71b;
    color: rgb(97, 70, 70);
    display: block;
    transform-origin: 0 50%;
    transition: all 0.1s;
    animation: split 2s ease infinite alternate both;
}

@keyframes split {
    0% {
        transform: rotate(-30deg);
    }

    10% {
        transform: rotate(-24deg);
    }

    20% {
        transform: rotate(-33deg);
    }

    30% {
        transform: rotate(-30deg);
    }

    40% {
        transform: rotate(-31deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    60% {
        transform: rotate(-28deg);
    }

    70% {
        transform: rotate(-29deg);
    }

    80% {
        transform: rotate(-32deg);
    }

    90% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(-29deg);
    }
}

@media(max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .icons {
        margin-left: 20%;
        /* background-color: #f5e71b; */
        justify-content: space-around;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        /* background-color: #f5e71b; */
        margin-left: 25rem;
        position: absolute;
    }

    .nav-active {
        transform: translateX(0);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}