* {
    background-color: rgb(4, 4, 14);
    margin: 0px;
    padding: 0px;
}

.nb {
    border: 60px dodgerblue solid;
    text-align: center;
    color: aliceblue;
    /* width: 50%; */
    padding: 10px 200px 10px 200px;
    border-top: 0px;
}

#fname,
#lname,
#email {
    background-color: aliceblue;
    width: 20%;
    height: 25px;
}

#email {
    padding-bottom: 0px;
}

#btn {
    border-radius: 25px;
    background-color: goldenrod;
    width: 15%;
    height: 80px;
    font-size: 20px;
}