/* style.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid black;
}



h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 80px;
}

.parent {
    margin-top: 5%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-left: 5%; */
}

.child1 {
    background: url(https://whc.unesco.org/uploads/thumbs/site_0252_0008-750-0-20151104113424.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.child2 {
    background: url(https://www.snopes.com/tachyon/2018/07/great_wall_of_china.jpg?resize=865,452);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.child3 {
    background: url(https://cdn.britannica.com/88/189788-050-9B5DB3A4/Al-Dayr-Petra-Jordan.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.child4 {
    background: url(https://i.pinimg.com/736x/6f/bc/b6/6fbcb6c3b964126a9cb11356df3695e3.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.child5 {
    background: url(https://www.nationalgeographic.com/content/dam/travel/2018-digital/machu-picchu-secrets/01-machu-picchu-secrets.ngsversion.1541525406737.adapt.1900.1.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.child6 {
    background: url(https://cdn.britannica.com/36/162636-050-932C5D49/Colosseum-Rome-Italy.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.child7 {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_9KLVObBoTq3Qj0EJX0ApZ7GDZz3tmJoCqA&usqp=CAUg);
    width: 16%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.parent1 {
    /* margin-top: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-left: 5%; */
}

.child8 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.child9 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.child10 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.child11 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.child12 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.child13 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.child14 {
    color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}